.title{
  color:brown;
  width: 50%;
  margin-left: 450px;
  background-color: aqua;
  }

.titulos{
  color: purple;
  width: 40%;
  margin-left: 1px;
  border: 4px solid brown;
  background-color: green;
}

.textos{  
  color: purple;
  width: 80%;
  margin-left: 1px;
  border: 4px solid brown;
  background-color: yellow;
}

.body{
  text-align: justify;
  margin: 0 auto;
  font-family:Helvetica, sans-serif;
  width:auto;
  background-color: grey;
}
