.title{
  text-align: center;
  font-size: 28pt;
  }

.titulos{
  background-color: rgb(67, 235, 67);
  margin-left: 5px;
}

.textos{  
  text-align: justify;
}

.body{
  text-align: justify;
  font-family:Helvetica, sans-serif;
  font-size: 13pt;
  background-color: rgb(180, 180, 180);
}
